@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* RESET: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL SETTINGS: */
body {
  font-family: Roboto, Verdana, sans-serif;
  font-size: 1rem;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container,
.hero-container,
.info-cards-container,
.testimonials-container {
  max-width: 2000px;
  flex: 1;
}

.hero,
.info-container,
.testimonials,
.action-container {
  padding: 100px 40px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  /* transition-duration: 100ms; */
}

a:hover {
  text-shadow: 3px 2px 15px rgba(249, 250, 248, 0.6);
  transition-duration: 100ms;
}

a:active {
  text-shadow: none;
}

header,
.hero,
footer {
  background: #1f2937;
  color: #f9faf8;
}

header,
footer {
  padding: 40px;
}

/* NAVIGATION BAR: */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  row-gap: 20px;
}

.logo a {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* HERO-SECTION: */
.hero {
  box-shadow: 0 8px 20px rgba(31, 41, 55, 0.7);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.hero-text p {
  font-size: 1.125rem;
  color: #e5e7eb;
  max-width: 450px;
}

.hero-button {
  background: #3882f6;
  color: inherit;
  border: none;
  font-size: 1.2rem;
  padding: 8px 24px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(56, 130, 246, 0.4);
  cursor: pointer;
}

.hero-button:hover {
  background: #1e74ff;
  box-shadow: 2px 3px 15px rgba(80, 147, 255, 0.5);
}

.hero-button:active {
  box-shadow: none;
}

.hero-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.hero img {
  background: gray;
  flex: 1 1 0%;
  max-width: 550px;
  height: auto;
}

/* INFO-SECTION: */
.info-container {
  flex-direction: column;
  gap: 40px;
}

.info-container h2 {
  font-size: 2.25rem;
  font-weight: 900;
  color: #1f2937;
}

.info-cards-container {
  gap: 40px;
  flex-wrap: wrap;
}

.info-card {
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.info-card img {
  width: 150px;
  height: 150px;
  border: 4px solid #3882f6;
  border-radius: 20px;
  box-shadow: 5px 3px 10px rgba(31, 41, 55, 0.3);
  transition-duration: 100ms;
}

.info-card:hover img {
  border-color: #5093ff;
  box-shadow: 5px 3px 15px rgba(31, 41, 55, 0.4);
}

.info-card:active img {
  border-color: #1e74ff;
  box-shadow: none;
}

/* TESTIMONIAL-SECTION: */
.testimonials {
  background: #e5e7eb;
  color: #1f2937;
  font-size: 2.25rem;
  font-weight: lighter;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.testimonials-container {
  align-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.testimonial-card {
  flex-direction: column;
  gap: 40px;
  max-width: 850px;
  padding: 40px;
}

.testimonial-name {
  align-self: flex-end;
  font-style: normal;
  font-weight: 700;
}

/* ACTION-SECTION: */
.action-container {
  flex-direction: column;
}

.action-frame {
  background: #3882f6;
  color: #f9faf8;
  border-radius: 10px;
  padding: 40px 80px;
  flex-wrap: wrap;
  gap: 60px;
}

.action-text {
  line-height: 1.3rem;
}

.action-button {
  background: #3882f6;
  color: inherit;
  border: 2px solid #f9faf8;
  font-size: 1rem;
  padding: 5px 24px;
  border-radius: 10px;
  box-shadow: 2px 3px 10px rgba(249, 250, 248, 0.4);
  cursor: pointer;
}

.action-button:hover {
  background: #1e74ff;
  box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
}

.action-button:active {
  box-shadow: none;
}

/* FOOTER: */
